/* box model fix */
/* details: www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0px;
}

header {
  background-color: #2D4A48;
  padding: 10px;
}

#main_image {
  background-color: #536563;
}

.sponsor_area {
  padding: 10px;
  background-color: #536563;
}

.sponsor {
  position: relative;
  left: -5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #536563;
}

#register {
  background-color: white;
  margin-top: 40px;
}

.text {
  font-family: 'Rokkitt', serif;
  padding: 20px;
}

#main_text {
  opacity: 0.5;
}

.center {
  text-align: center;
}

.dotted_divider {
  margin-top: 40px;
  background-image: url("./assets/part2/dash-horizontal.png");
  background-repeat: repeat-x;
}

.under_dotted {
  margin-top: 50px;
}

.talk_sections {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-bottom: 100px;
}

.talk_sections h2 {
  color: #709B4B;
}

.talk_sections ul {
  list-style-type: none;
  padding: 0px;
  color: #8b0000;
}

.talk_sections li {
  margin-bottom: 10px;
}

.talk_sections_top_line {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  opacity: 0.7;
}

.event_schedule{
  background-image: url("./assets/part3/wood-bg.png");
}

.event_schedule img {
  padding-top: 35px;
  position: relative;
  left: -5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.event_schedule h1 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #DAA520;
  width: 70%;
  margin-bottom: 10px;
  font-size: 2.5em;
  margin-top: 0px;
}

.event_schedule p {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  color: white;
  width: 85%;
  font-size: 1.5em;
}
/*
.circle {
  width:100px;
  height:100px;
  border-radius:50px;
  font-size:20px;
  color:#fff;
  line-height:100px;
  text-align:center;
  background: red;
}
*/

.circle {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:100px;
  width:100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 3px solid #D2691E;
  margin-top: 30px;
}

.circle h1 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 14px;  
  color: white;
  font-size: 4em;
  margin: 0px;
}

.circle p {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -15px;  
  margin-top: 0px;
}

.event_schedule_text {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;
}

.event_schedule_text h1 {
  color: white;
  font-size: 25px;
  padding-top: 0px;
  margin-top: 25px;
}

.event_schedule_text p {
  color: white;
  font-size: 17px;
  line-height: 180%;
  width: 95%;
  padding-top: 0px;
  margin-top: 0px;
}

.faq {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #CAECF7;
}

.faq img {
  position: relative;
  top: 4px;
  margin-top: 20px;
}

.faq ul {
  width: 90%;
  font-size: 25px;
  color: #8C5A30;
  list-style: none;
  margin-bottom: 0px;
}

.faq li {
  text-align: left;
  background: url(./assets/part4/plus-bullet.png) left top no-repeat; 
  padding-left: 35px;
  padding-bottom: 25px;
}









